<% include ./partials/Headers.ejs %>
<div class="w-full min-h-screen bg-slate-800 px-10 py-8 text-white">
    <div class="cards flex flex-wrap gap-10 auto-rows-auto">
        <% posts.forEach(function(elem){ %>
            <div class="card w-56">
                <a class="w-full h-auto bg-purple-300 overflow-hidden" href="/show-posts/<%= elem._id %>">
                    <img class="bg-cover rounded-lg" src="/images/uploads/<%= elem.image %>" alt="">
                </a>
                <h5 class="card-title mt-2 text-center text-14 font-semibold"><%= elem.title %></h5>
                <h5 class=" text-center text-14 font-semibold"><i class="fa-brands fa-pinterest pr-2"></i><%= elem.user.username %></h5>
            </div>
       <% }) %>

    </div>
</div>
<% include ./partials/footer.ejs %>